<div class="container">
  <h1>Home Page</h1>
  <p>This is the Home page.  Click 'Get Photos' to make 3 concurrent HTTP requests using Observables</p>
  <button (click)="onButtonClick()">Get Photos</button>
  <div class="results_container">
    <div *ngIf="dogPhotos">
      <h3>Here's a doggie...</h3>
      <img class="dog_image" src="{{dogPhotos.url}}" alt="A cute dog">
    </div>
    <div *ngIf="otherDogPhotos">
      <h3>Here's another doggie...</h3>
      <img class="dog_image" src="{{otherDogPhotos.message}}" alt="Another cute dog">
    </div>
    <div *ngIf="museumPhotos">
      <h3>And here's some cool art from MoMA...</h3>
      <img class="dog_image" src="{{museumPhotos.primaryImage}}" alt="Random Art">
    </div>
  </div>
</div>